<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.duxl.android.quicklib">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestActivityActivity"
            android:label="TestActivity">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestAppStatusViewActivity"
            android:label="TestAppStatusView">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestFragmentActivity"
            android:label="TestFragment">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestRecyclerViewActivity"
            android:label="TestRecyclerViewActivity">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestRxActivity"
            android:label="TestRxActivity">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestRegisterForActivityResult"
            android:label="TestRegisterForActivity">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ResultDataActivity"
            android:label="RegisterForActivity" />

        <activity
            android:name=".TestHttpRequestActivity"
            android:label="TestHttpRequest">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestGetPictureActivity"
            android:label="TestGetPicture">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestInputActivity"
            android:label="键盘遮挡输入框问题/普通Activity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestInputFragmentActivity"
            android:label="键盘遮挡输入框问题/内嵌Fragment"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestWebActivity"
            android:label="通用WebView"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestWidgetActivity"
            android:label="自定义控件/心跳View">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestMaskImageActivity"
            android:label="自定义控件/不规则图片（遮罩ImageView）">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestFirstLineMarginFlowLayoutActivity"
            android:label="自定义控件/首行左右间距设置">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestJustifyTextViewActivity"
            android:label="自定义控件/文字两端分散对齐">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestLockedTableActivity"
            android:label="自定义控件/可锁定列的表格">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestLayerLayoutActivity"
            android:label="自定义控件/叠放Layer布局">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestPwdEditActivity"
            android:label="自定义控件/密码输入框">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestDrawViewActivity"
            android:label="自定义控件/绘图">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestSegmentedActivity"
            android:label="自定义控件/滑块Tab">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestShadowDrawableActivity"
            android:label="Material/带阴影的图片">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestShadowActivity"
            android:label="Material/常规阴影实现">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestTriangleDrawableActivity"
            android:label="Material/带三角尖的图片">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestRecyclerSnapHelperActivity"
            android:label="RecyclerView/Item居中方案示例">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestRecyclerDragActivity"
            android:label="RecyclerView/拖拽">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestExpandListActivity"
            android:label="RecyclerView/可折叠列表/可折叠的列表（两级）">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestExpand3ListActivity"
            android:label="RecyclerView/可折叠列表/可折叠的列表（三级）">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestExpandXListActivity"
            android:label="RecyclerView/可折叠列表/可折叠的列表（任意多级）">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestTimelineDecorationActivity"
            android:label="RecyclerView/decoration/时间线装饰器">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestStickyHeaderActivity"
            android:label="RecyclerView/decoration/悬停分组/黏性悬停分组-List">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestStickyHeaderActivity2"
            android:label="RecyclerView/decoration/悬停分组/黏性悬停分组-Grid">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestFollowBehaviorActivity"
            android:label="behavior/跟随Behavior">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestBlurActivity"
            android:label="图片处理/高斯模糊">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".other.CustomContextActivity"
            android:label="其它/自定义上下文">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".other.TestCustomDurationScrollerActivity"
            android:label="其它/设置ViewPager的切换滚动时长">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".other.TestTextExpandActivity"
            android:label="其它/文本太长折叠显示更多">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>
    </application>

</manifest>