<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.duxl.android.quicklib">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestActivityActivity"
            android:label="TestActivity">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestFragmentActivity"
            android:label="TestFragment">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestRecyclerViewActivity"
            android:label="TestRecyclerViewActivity">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestRxActivity"
            android:label="TestRxActivity">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestHttpRequestActivity"
            android:label="TestHttpRequest">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestGetPictureActivity"
            android:label="TestGetPicture">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestInputActivity"
            android:label="键盘遮挡输入框问题/普通Activity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestInputFragmentActivity"
            android:label="键盘遮挡输入框问题/内嵌Fragment"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestWebActivity"
            android:label="通用WebView"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestWidgetActivity"
            android:label="自定义控件/心跳View">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestMaskImageActivity"
            android:label="自定义控件/不规则图片（遮罩ImageView）">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestFirstLineMarginFlowLayoutActivity"
            android:label="自定义控件/首行左右间距设置">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestJustifyTextViewActivity"
            android:label="自定义控件/文字两端分散对齐">
            <intent-filter>
                <action android:name="${pageAction}" />
            </intent-filter>
        </activity>
    </application>

</manifest>